<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shiny Server - CMU Libraries</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">
  </head>

  <body>
    <h1><a href="https://shiny.rstudio.com">Shiny</a> @ CMU Libraries</h1>
    <p>Hosting for R-based web applications at Carnegie Mellon University Libraries.</p>
    <p>Contact <a href="mailto:mlincoln@andrew.cmu.edu">Matthew Lincoln</a> with questions.</p>
  </body>

</html>

<style>
  body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    text-align: center;
  }

</style>
