<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shiny Server - CMU Libraries</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic" rel="stylesheet"
      type="text/css">
  </head>

  <body>
    <h1>404 - Page not found</h1>
    <p>Sorry, the link you tried doesn't exist here :(</p>
  </body>

</html>

<style>
  body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    text-align: center;
  }

</style>
